** What is 7 to the power of 4?**

In [10]:
7**4

2401

** Split this string:**

s = "Hi there Yogesh!"
*into a list. *

In [8]:
s= 'Hi there Yogesh'

** Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [11]:
planet = "Earth"
diameter = 12742

In [12]:
planet

'Earth'

In [13]:
diameter

12742

In [14]:
'the diameter of {} is {} kilometers' .format(planet,diameter)

'the diameter of Earth is 12742 kilometers'

Given this nested list, use indexing to grab the word "hello" **

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [15]:
list = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [17]:
list [3][1][2][0]

'hello'

In [ ]:
** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [18]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [23]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
# Tuple is Immutable

In [ ]:
** Create a function that grabs the email website domain from a string in the form: **
    user@domain.com

In [1]:
def find_domain(e):
    return e.split('@')[1]

In [2]:
find_domain('xyz@hotmail.com')

'hotmail.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [13]:
def find_dog(s):
    return 'dog' in s.lower().split()

In [14]:
find_dog('This dog runs faster than that dog')

True

In [ ]:
** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [16]:
def dog_count(s1):
    c=0
    for w in s1.lower().split():
        if w=='dog':
            c+=1
    return c

dog_count('this dog runs faster than that dog')

In [ ]:
** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

In [19]:
seq = ['soup','dog','salad','cat','great']

In [20]:
seq

['soup', 'dog', 'salad', 'cat', 'great']

In [21]:
type(seq)

list

In [22]:
list (filter(lambda x:x[0]!='s',seq))

['dog', 'cat', 'great']

*You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. *

In [23]:
def catch_speed(s,b):
    if b:
        s_new=s-5
    else:
        s_new=s
    if s_new>80:
        return 'big ticket'
    elif s_new>60:
        return 'small ticket'
    else:
        return 'no ticket'

In [25]:
catch_speed(81,True)

'small ticket'

In [27]:
catch_speed(81,False)

'big ticket'

Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [5]:
s=input('enter the input string:')
num=''
data =[0,1,2,3,4,5,6,7,8,9]
if s[0]== '-':
    num=num+s[0]
for c in s:
    if c in str(data):
        num=num+c
print (num)

enter the input string:5664-98bjbhcljhc-5644wdfd
5664985644

WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [1]:
num1= input('enter the number')
num2= int(num1[::-1])
num3= str(int(num1)+num2)
print('Number is:',num3)
print('reverse is',num3[::-1])
while num3!=num3[::-1]:
    num3=str(int(num3)+int(num3[::-1]))
    print("Number is:",num3)
    print('reverse is',num3[::-1])
print('palindrome is:',num3)

enter the number181
Number is: 362
reverse is 263
Number is: 625
reverse is 526
Number is: 1151
reverse is 1511
Number is: 2662
reverse is 2662
palindrome is: 2662

Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [12]:
def fun1():
    for a in range(0,10):
        b=a-2
        c=b-2
        d=c-2
        if c+d+c==a and a+b+c+d+c==19:
            print(str(a)+str(b)+str(c)+str(d)+str(c))

In [13]:
fun1()

75313